appdirs==1.4.3
Brlapi==0.6.5
chardet==2.3.0
chrome-gnome-shell==0.0.0
click==6.7
cupshelpers==1.0
flake8==3.3.0
flake8-docstrings==1.0.3
flake8-polyfill==1.0.1
Flask==0.12.1
isc==2.0
itsdangerous==0.24
Jinja2==2.9.6
louis==3.0.0
lxml==3.7.3
MarkupSafe==1.0
mccabe==0.6.1
Morfessor==2.0.1
numpy==1.12.1
packaging==16.8
polyglot==16.7.4
psutil==5.2.1
pycld2==0.31
pycodestyle==2.3.1
pycups==1.9.73
pycurl==7.43.0
pydocstyle==2.0.0
pyflakes==1.5.0
pygobject==3.22.0
PyICU==1.9.6
pyparsing==2.2.0
pysmbc==1.0.15.6
pyxdg==0.25
requests==2.13.0
simplejson==3.10.0
six==1.10.0
snowballstemmer==1.2.1
team==1.0
termcolor==1.1.0
urllib3==1.20
Werkzeug==0.12.1
