@import 'variables';

.badge{
  border-radius: 0;
  margin-right: .4em;

  div[class^='tips-container-bad'] &{
    background: $tips-bad;
  }

    div[class^='tips-container-advice'] &{
    background: $tips-advice;
  }

    div[class^='tips-container-good'] &{
    background: $tips-good;
  }
}

#tips-parent{
  margin: 15px;
}

.tips-title{
  background: white;
  margin-top: 1em;
  cursor: pointer;

  span{
    padding: 1em;
  }

  span.badge{
    font-size: 1.3em;
  }
}

.accordion-title{
  padding: 0.75rem 1.2rem;
}

.accordion-content{
  padding: 0.1rem 2.2rem;
  font-weight: 300;
}

#score-container{
  display: none;
	width: auto;
  margin: 15px;
  background-color: white;

  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.3);

  #scorebar{
    width: auto;
    height: 40px;
    background-color: lightgray;

    #scorebar-filler{
      width: 25%;
    	display: block;
    	height: 100%;
    	background-color: green;
    }
  }

  #score-infos{
    margin-left: 10px;

    #score-value-big{
      float: left;
      display: inline-block;

    	#score-value{
    		color: #444;
        font-family: 'Francois One', sans-serif !important;
        font-size: 6em;
    	}
    }

    #score-value-side{
      padding-top: 25px;
      padding-bottom: 25px;

      span{
        display:block;
      }
    }
  }
}

.area-init, .area-falc{
	padding: 10px;
}

.area-review{
	padding: 10px;
	// background-color: white;
	// -webkit-box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.34);
	// -moz-box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.34);
	// box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.34);
}

div.active span[id^="tip"].active{

  &.good{
    background-color: $tips-good-light;
  }
  &.advice{
    background-color: $tips-advice-light;
  }
  &.bad{
    background-color: $tips-bad-light;
  }
}

#banner {
	border-bottom: 1px solid darken($background, 10%);
	background-color: $color-grey;
	color: $color-grey-light;
	height: 200px;
	overflow: hidden;

	button {
		margin-top: 30px;
	}

	.row {
		background-image: url('../img/bg.png');
		background-repeat: no-repeat;
		background-position: right;
		height: 200px;
	}

	#banner_text {
		color: $color-grey-light;
		max-width: 600px;
		padding: 4rem;
		// position: absolute;

		.subheader {
			color: $color-grey-light;
		}
	}

	img {
		padding-bottom: 25px;
		padding-right: 200px;
		padding-top: 25px;
		float: right;
		right: 0;
	}
}

.callout.alert{
	padding: 0px;
	border-color: transparent;
	margin-top: 1rem;

	#warning-title{
		font-weight: 600;
	}
}

#myform {
	padding-bottom: 2rem;
}

#warnings-container{
	position: absolute;
	float: left;
	background-color: #ffe18f;
	font-weight: 300;
}
