@import 'variables';

#banner {
	border-bottom: 1px solid darken($background, 10%);
	background-color: $color-grey;
	color: $color-grey-light;
	height: 400px;
	overflow: hidden;

	button {
		margin-top: 30px;
	}

	.row {
		background-image: url('../img/bg.png');
		background-repeat: no-repeat;
		background-position: right;
		height: 400px;
	}

	#banner_text {
		color: $color-grey-light;
		max-width: 600px;
		padding: 4rem;
		position: absolute;

		.subheader {
			color: $color-grey-light;
		}
	}

	img {
		padding-bottom: 25px;
		padding-right: 200px;
		padding-top: 25px;
		float: right;
		right: 0;
	}
}

#myform {
	padding-bottom: 2rem;
}
