// Colors taken from
//	https://color.adobe.com/fr/Honey-Pot-color-theme-1490158/
//	https://color.adobe.com/fr/Gl%C3%BCckskeks-color-theme-9351826/

$color-grey: #59545b;
$color-grey-dark: #272528;
$color-grey-light: #d4d2d7;
$color-primary: #DB9E36; //#f45e03;
$color-primary-light: #FFD34E; //#d97538;
$foreground: $color-grey;
$background: $color-grey-light;

$tips-bad: #ff9b9b;
$tips-advice: #ffe18f;
$tips-good: #9bff9b;
