<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/png" href="static/favicon.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css" />
  <link rel="stylesheet" href="static/font/foundation-icons.css" />
  <link rel="stylesheet" href="static/css/style.min.css" />
  {% if css %}
  <link rel="stylesheet" href="static/css/{{ css }}.min.css" />
  {% endif %}

  <title>EasyFALC | {% block title %}{% endblock %}</title>
</head>

<body onload="{% block bodyparams%}{% endblock %}">

  <div id="content">{% block content %}{% endblock %}</div>

  <footer>
    <div class="arrow"></div>
    <div class="row footer">
      <div>
        &copy; Copyright 2017 by
        <a href="https://www.fstlab.ch/site/">FSTLab</a>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.0.min.js" integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/plugins/foundation.responsiveMenu.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/plugins/foundation.util.mediaQuery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/plugins/foundation.util.triggers.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/plugins/foundation.accordion.js"></script>
  <script src="static/js/app.js"></script>
  {% if js %}
  <script src="static/js/{{ js }}.js"></script>
  {% endif %}

  {% block head %}
  {% endblock %}
</body>
</html>
