{% extends "base.html.j2" %}
{'css' : 'index'}
{'js' : 'index'}

{% block title %}Index{% endblock %}

{% block bodyparams %}saveCategories({{ categories }}){% endblock %}

{% block content %}
<div id="banner">
	<div class="row">
		<div id="banner_text" class="medium-7 large-6 columns">
			<h1>EasyFALC</h1>
			<p class="subheader">
				EasyFALC est une application web multiplateforme d’aide à la création de texte « facile à lire et à comprendre » (FALC).<br/><br/>
				Il suffit de saisir votre texte dans la zone prévue à cet effet, puis de presser sur « évaluer ».<br/><br/>
				Tous les éléments non conformes seront mis en évidence. Un clic sur un de ces éléments fera apparaitre une suggestion de correction sur la droite.
			</p>
		</div>
		<img src="static/img/logo.png" alt="Logo" />
	</div>
</div>

<input type="hidden" name="text-base" id="hidden-text-base"/>
	<div class="row">
		<div class="medium-6 columns">
			<div class="row area-init">
				<h6>Base</h6>
				<div id="text-base" class="text-base textarea" form="myform" contenteditable>
					<!-- user text -->
				</div>
			</div>
			<div class="row area-falc">
				<h6>Édition</h6>
				<div id="text-edit" class="text-falc textarea" name="text-falc" contenteditable="true">
					Entrez du texte à gauche.
				</div>
			</div>
		</div>
		<div class="medium-6 columns area-review">
			<div class="row" id="score-container">
        <div id="scorebar">
		      <span id="scorebar-filler"></span>
        </div>
        <div id="score-infos">

          <div id="score-value-big">
	         <span id="score-value">--</span>
           <sup>%</sup>
          </div>

        </div>
			</div>

			<div class="row" id="tips-parent">
				<!--
				jQuery input the warnings on the fly

				This container summarizes the warnings
				-->
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="medium-6 columns">
		<button class="button" id="button-summarize" disabled="true">Résumer</button>
	</div>
</div>

{% endblock %}
